GSHEETS_CREDS_JSON = {"type": "service_account", "project_id":..., "private_key_id":..., "private_key":..., "client_email":...,"client_id":...,"auth_uri":..., "token_uri":...,"auth_provider_x509_cert_url":..., "client_x509_cert_url":}

CSV_SEP_METHOD_GSHEET = [{"csv_file": "http://source path csv1/*.csv", "sep" : ",", "method": "stock", "gsheet_key": "..."},{"csv_file": ""http://source path csv2/*.csv"", "sep": ";", "method": "move", "gsheet_key": "..."}]